*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    background-color: hsl(156, 74%, 93%);
}

main {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-bottom: 2em;
}

h1,
h2,
h3 {

    font-weight: 600;

}

#edit-form {
    margin: 0;
}

.todos {

    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50vw;

}

a {
    text-decoration: none;
    font-weight: 400;
    color: #333;
}

.todos-container li {
    background-color: hsla(157, 57%, 46%, 0.539);
    border-radius: 4px;
    list-style: none;
    font-size: 1.5rem;
    padding: 0.5em;
    margin: 0.25em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div {
    display: flex;
    flex-flow: column wrap;
}

div small {
    background-color: yellow;
    border-radius: 6px;
    padding: 0.5em;
    font-size: 0.9rem;
    width: min-content;
}

.show {
    display: block;
}

.hide {
    display: none;
}
